<%- include('../../../fragments/header.ejs'); %>
<%- include('./menu.ejs'); %>

<h1>
    <a href="/">e-shop catalog management</a>
</h1>

<form method="POST">
    <div>
        <label for="name">Название продукта</label>
        <input type="text" name="product" id="product">
    </div>
    <div>
        <label for="login">Цена</label>
        <input type="text" name="price" id="price">
    </div>
    <div>
        <label for="email">Количество</label>
        <input type="text" name="count" id="count">
    </div>
    <div>
        <button type="submit">Добавить</button>
    </div>
</form>

<%- include('../../../fragments/footer.ejs'); %>
