<nav>
    <ul>
        <li>
            <a href="/admin">Просмотр</a>
        </li>
        <li>
            <a href="/admin/add">Добавление</a>
        </li>
        <li>
            <a href="/admin/change">Изменение товара</a>
        </li>
    </ul>
</nav>