

.staff {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;



&__trash-img {
  width: 50%;
}



  &__item {
  flex: 0 0 33.33333%;
  padding: 0 10px;
  margin: 1px 0;
  text-align: center;
  margin-bottom: 10px;
}

  &__icon {
  margin-bottom: -20px;
  width: 145px;
  height: 155px;
}

  &__price {
  margin-bottom: 10px;
}

  &__title {
  margin-bottom: -5px;

  font-size: 14px;
  color: @staff-title-color;
  font-weight: 700;
  text-transform: uppercase;
}

  &__btn-add {
  background-color: @staff-btn-color;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin-right: 10px;
}

  &__btn-add:hover {
  background: @btn-hover;
}

  &__trash-img {
  padding: 0;
}

}

.container-box {
  margin-top: 20px;
  display: flex;
}

.container__main-img {
  flex: 0 1 20%;
  margin-top: 25px;
  margin-left: 44px;
}

@media (max-width: 450px) {

  .staff {
    margin: -50px;
  }

  .staff__item {
    flex: 0 0 100%;
  }
}

@media (max-width: 736px) {


  .container-box {
    margin-top: 55px;
  }


  .staff {
    margin: -50px;
  }

  .staff__item {
    flex: 0 0 50%;
  }

}

@media (max-width: 768px) {
  .staff {
    margin: -50px;
  }

  .staff__item {
    flex: 0 0 50%;
  }

  .container-box {
    margin-top: 55px;
  }
}

@media (max-width: 820px) {

  .staff {
    margin: -50px;
  }

  .container-box {
    margin-top: 55px;
  }

  .staff__item {
    flex: 0 0 50%;
  }
}