<nav>
    <ul>
        <li>
            <a href="/catalog">Просмотр</a>
        </li>
        <li>
            <a href="/catalog/add">Добавление</a>
        </li>
        <li>
            <a href="/catalog/change">Изменение товара</a>
        </li>
    </ul>
</nav>