<%- include('../../fragments/header.ejs'); %>
<div>стартовая страница нашего сайта</div>

<h1>
    <a href="/">e-shop catalog management</a>
</h1>

<ul>
    <li>
        <a href="/catalog">Catalog</a>
    </li>
</ul>

<%- include('../../fragments/footer.ejs'); %>